{% extends 'home/index.html' %}
{% block customcontent %}
<div class="md-modal md-show md-effect-1" id="modal-test">
            <div class="md-content">
                <h3>Why StreetEasy?</h3>
                <div>

                    <p><strong>I believe I would be the best fit for the role of Full Stack Application Development</strong></p>
                    <p><strong>Skill Set : Python, Javascript, Object oriented programming experience for 5 years, Experience in algorithms, machine learning using scikit-learn.</strong></p>

                    <button onclick="document.getElementById('modal-test').classList.toggle('md-show');" class="md-close">Close me!</button>
                </div>
            </div>
        </div>
{% endblock customcontent %}
